{% extends "layout.html" %}


{% block content_title %}
  <p class="search__header">This page is for help on how to search the Mineral Catalog.</p>
{% endblock %}

{% block content %}
  <p class="help__paragraph">To search the Mineral Catalog for any data that a mineral may contain
     (Search all data by Term) please use the box under the main Mineral Catalog
      logo. Just type in your query in one word and press enter.
  </p>
  <p class="help__paragraph"> The Search Alphabetically option allows you to choose the first starting letter for
    the minerals you want to search for.
  </p>
  <p class="help__paragraph"> The Search by Color option allows you to choose or
    search for a color of choice. If searching only use one word.
  </p>
  <p class="help__paragraph"> Search by Crystal System lets you search
    the Mineral Catalog via the seven kinds of Crystal Systems.
  </p>
  <p class="help__paragraph"> Seaching by Group allows you to choose a Group you want to filter the
    Mineral Catalog by.
  </p>
{% endblock %}
