{% extends "layout.html" %}


{% block content_title %}
  <p class="search__header">Welcome to the search page! Please select a search option below.</p>
{% endblock %}

{% block content %}
<ul class="minerals__container">
  <li class="minerals__item">
    <a class="minerals__anchor" href="{% url 'minerals:search_letter' %}">Search Alphabetically</a>
  </li>
  <li class="minerals__item">
    <a class="minerals__anchor" href="{% url 'minerals:search_color' %}">Search by Color</a>
  </li>
  <li class="minerals__item">
    <a class="minerals__anchor" href="{% url 'minerals:search_crystal_system' %}">Search by Crystal System</a>
  </li>
  <li class="minerals__item">
    <a class="minerals__anchor" href="{% url 'minerals:search_group' %}">Search by Group</a>
  </li>
  <li class="minerals__item">
    <a class="minerals__anchor" href="{% url 'minerals:search_help' %}">Search all data by Term</a>
  </li>
  <li class="minerals__item">
    <a class="minerals__anchor" href="{% url 'minerals:search_help' %}">Searching help</a>
  </li>
</ul>
{% endblock %}
