{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'minerals/css/global.css' %}">
  <title>Mineral Catalog: A magnificant catalog of minerals</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
</head>
<body>
  {% block div %}<div class="bounds">{% endblock %}
    <div class="grid-100">
      <a href="/">
        <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
          <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
          <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
          <polygon points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
        </svg>
        <h1 class="logo__name text-centered">Mineral Catalog</h1>
      </a>

      <!-- This is the main search bar at the top of the page. -->
      <form action="{% url 'minerals:search_term_selected' %}" method="GET">
      <p class="logo__text text-centered">
        <input class="search__box" placeholder="Minerals from around the globe." name="search">
      </p>
      </form>
    </div>

    <div class="grid-100">

      <!-- This is hardcoded into layout.html because it is not likely
      to change and it prevents letters from being passed in all views. -->
      <a href="{% url 'minerals:search_letter_selected' pk="a" %}"><letters class="letters">A</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="b" %}"><letters class="letters">B</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="c" %}"><letters class="letters">C</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="d" %}"><letters class="letters">D</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="e" %}"><letters class="letters">E</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="f" %}"><letters class="letters">F</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="g" %}"><letters class="letters">G</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="h" %}"><letters class="letters">H</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="i" %}"><letters class="letters">I</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="j" %}"><letters class="letters">J</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="k" %}"><letters class="letters">K</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="l" %}"><letters class="letters">L</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="m" %}"><letters class="letters">M</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="n" %}"><letters class="letters">N</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="o" %}"><letters class="letters">O</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="p" %}"><letters class="letters">P</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="q" %}"><letters class="letters">Q</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="r" %}"><letters class="letters">R</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="s" %}"><letters class="letters">S</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="t" %}"><letters class="letters">T</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="u" %}"><letters class="letters">U</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="v" %}"><letters class="letters">V</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="w" %}"><letters class="letters">W</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="x" %}"><letters class="letters">X</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="y" %}"><letters class="letters">Y</a></letters>
      <a href="{% url 'minerals:search_letter_selected' pk="z" %}"><letters class="letters">Z</a></letters>

      {% block content_title %}
      {% endblock content_title %}

      {% block content %}
      <p>This is a test.</p>
      {% endblock content %}
    </div>

  </div>
  <div class="minerals__random">
    <a class="minerals__anchor" href="{% url 'minerals:search_group' %}">Search by group</a>
    <a class="minerals__anchor" href="{% url 'minerals:random_mineral' %}">Show random mineral</a>
    <a class="minerals__anchor" href="{% url 'minerals:search' %}">Advanced search</a>
  </div>
</body>
</html>
